.myloginform {
  background-color: #FFFFFF;
  border: 2px solid rgb(142, 38, 38);
  border-radius: 0.2em;
}
.myloginform h3 {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  color: rgb(142, 38, 38);
}
.myloginform button {
  background: #e96d3f;
  color: #FFFFFF;
}
.myloginform button:hover {
  background: rgb(142, 38, 38);
  color: #FFFFFF;
}