.banner {
  background: linear-gradient(115deg, rgba(197, 106, 15, 0.915) 75%, transparent 50%) center center / 100% 100%,
    url("/helpCenter.png") right center / auto 100%;
  border-top: 3px solid #4a4a4a;
  border-bottom: 3px solid #4a4a4a;
}

.area1 {
  height: 400px;
  padding-top: 50px;
  padding-left: 100px;
}

.breadcrumbArea{
  margin-top: 50px;
  }
  
.breadcrumbArea span{
  color: #8e2626;
  font-size: 20px;
  font-weight: 900;
}

.card:hover{
  box-shadow: 0 0 30px gray;
}



.helpPic {
  height: 300px;
}

.btnSearch {
  background-color: aliceblue;
}

/* h2 {
  color: aliceblue;
} */