.footerArea{
  height: 700px;
  background-color:#8e2626;
}

.footerArea .rounded-circle {
  width: 30px;
  height: 30px;
  box-shadow: 0 0 8px rgb(74, 72, 72);
}

.selectOptions, .option{
  font-size: 24px;
  font-weight: 500;
  color: white;
  padding-left: 4px;
}

.selectOptions:hover{
  background-color: #f5f5f56f;
  border-radius: 5px;
  padding: 2px 5px 2px 3px;
}

.footerContent{
  font-size: 30px;
  color: white;
}

.footerContent2{
  font-size: 20px;
  color: white;
}

.adbox{
  width: 180px;
  height: 180px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: #908e8e;
  color: #e96d3f;
}

.socialIcons{
  font-size: 30px;
  margin-right: 15px;
}

.socialIcons:hover{
  opacity: 0.8;
}

.adArea {
  position: fixed;
  right: 80px;
  bottom: 30px;
  z-index: 11;
}

.adArea span {
  position: absolute;
  bottom: 0;
  left: 50px;
  background-color: #e96d3f;
  color: #F5F5F5;
}

.adArea button {
  position: absolute;
  top: 25px;
  left: 170px;
}

.registerBtn:hover{
  box-shadow: 0 0 10px gray;
}

.point {
  -webkit-animation: pointMove 0.5s infinite alternate;
  animation: pointMove 0.5s infinite alternate;
}

@-webkit-keyframes pointMove {
0% {
  transform: translateX(-3px);
}

100% {
  transform: translateX(3px);
}
}

@keyframes pointMove {
0% {
  transform: translateX(-3px);
}

100% {
  transform: translateX(3px);
}
}

.list{
  padding: 3px 3px;
}

.list:hover{
  background-color: #f5f5f5ac;
  border-radius: 10px;
  color: #8e2626 !important;
}




