@import "https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nothing+You+Could+Do&family=Protest+Riot&display=swap";

@import "https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kalam:wght@300;400;700&family=Nothing+You+Could+Do&family=Protest+Riot&display=swap";

.adArea{
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.adImg{
  opacity: 0.8;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
  color: #eaea1e;
  text-shadow: 0 0 0.2em yellowgreen, 0 0 0.2em yellowgreen,0 0 0.2em yellowgreen;
  font-size: 45px;
}

.title2 {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: rgb(31, 31, 31) 0.1em 0.1em 0.2em;
  font-size: 60px;
}

.title3{
  font-weight: bold;
  text-shadow: rgb(221, 221, 221) 0.1em 0.1em 0.2em;
  color: rgba(0, 0, 0, 0.729);
  font-size: 50px;
}

.txt{
  font-size: 30px;
  margin-top: 40px;
  text-shadow: rgb(35, 35, 35) 0.1em 0.1em 0.2em;
}

.txt2{
  font-size: 30px;
  margin-top: 40px;
  text-shadow: rgb(35, 35, 35) 0.1em 0.1em 0.2em;
}

.txt3{
  font-size: 30px;
  text-shadow: rgb(35, 35, 35) 0.1em 0.1em 0.2em;
  margin-top: 40px;
}

.bg1, .bg2 {
  position: relative;
  width: 100%;
  height: 39%;
  overflow: hidden;
}

.hover {
  object-fit: cover;
  opacity: 0.8;
  transform:scale(1.0);
  transition: all 0.5s ease-out;
  border-radius: 5px;
}

.nohover{
  object-fit: cover;
  opacity: 0.9;
  transition: all 0.5s ease-out;
  -moz-transform:rotate(1deg);
  -webkit-transform:rotate(1deg);
  -o-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg) scale(1.1,1.1);
  border-radius: 5px;
}

.content{
  position: absolute;
  top: 50px;
  left: 25px;
}

.content2 {
  position: absolute;
  top: 80px;
  right: 20px;
}

.shadow{
  text-shadow: rgba(125, 125, 125, 0.801) 0.1em 0.1em 0.2em;
}

.moreBtn{
  background-color: #e96d3f;
  color: white;
  box-shadow: 0 0 10px gray;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.moreBtn:hover{
  background-color: #8e2626;
}


