.productArea{
  content: "";
  width: 92%;
  border-top: 3px dashed #8e2626;
  margin-top: 20px;
  margin-left: 15px;
}

.productItem{
  transition: .5s;
  border: 3px solid #e96d3f; 
  position: relative;
  width: 90%;
}

.productItem:hover {
  box-shadow: 0 0 30px #6d6c6c;
}

.imgAct{
  transition: .5s;
}

.productItem:hover .imgAct{
  overflow: hidden;
  transform: scale(1.2);
  opacity: 0.5;
}

.productAction {
  background: rgba(256, 256, 256, .7);
}

.iconAInner{
  font-size: 45px;
  border: 1px solid #8e2626;
  color: #8e2626;  
  padding: 5px 6px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 160px;
  transform: translateY(0);
}

.iconBInner{
  font-size: 45px;
  border: none;
  color: #8e2626;
  padding: 5px 6px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 220px;
  transform: translateY(0);
}

.productItem:hover .iconAInner{
  color: #8e2626;
  border: 1px solid #8e2626;
  position: absolute;
  opacity: 1;
  top: 90px;
  left: 150px;
  transform: translateY(80%);
  transition: transform 0.3s ease;
}

.productItem:hover .iconBInner{
  color: #8e2626;
  border: 1px solid #8e2626;
  position: absolute;
  opacity: 1;
  top: 90px;
  left: 210px;
  transform: translateY(80%);
  transition: transform 0.5s ease;
}

.productItem:hover .iconAInner:hover{
  color: #e96d3f;
  background-color: #8e2626;
}

.productItem:hover .iconBInner:hover{
  color: #e96d3f;
  background-color: #8e2626;
}

.moreBtn{
  background-color: #e96d3f;
  color: white;
  box-shadow: 0 0 10px gray;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 25px;
}

.moreBtn:hover{
  background-color: #8e2626;
}


