.breadcrumbArea{
  margin-top: 50px;
  }
  
.breadcrumbArea span{
  color: #8e2626;
  font-size: 20px;
  font-weight: 900;
}

.titleArea{
  content: "";
  width: 61%;
  border-top: 3px dashed #8e2626;
  margin-top: 16px;
  margin-left: 20px;
}

.titleAreaB{
  content: "";
  width: 56%;
  border-top: 3px dashed #8e2626;
  margin-top: 16px;
  margin-left: 20px;
}

.titleAreaC{
  content: "";
  width: 73%;
  border-top: 3px dashed #8e2626;
  margin-top: 16px;
  margin-left: 20px;
}

.titleAreaD{
  content: "";
  width: 62%;
  border-top: 3px dashed #8e2626;
  margin-top: 16px;
  margin-left: 20px;
}

.productItem{
  transition: .5s;
  border: 3px solid #e96d3f; 
  position: relative;
  width: 90%;
}

.productItem:hover {
  box-shadow: 0 0 30px #6d6c6c;
}

.imgAct{
  transition: .5s;
}

.productItem:hover .imgAct{
  overflow: hidden;
  transform: scale(1.2);
  opacity: 0.5;
}

.productAction {
  background: rgba(256, 256, 256, .7);
}

.iconAInner{
  font-size: 45px;
  border: 1px solid #8e2626;
  color: #8e2626;  
  padding: 5px 6px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 180px;
  transform: translateY(0);
}

.iconBInner{
  font-size: 45px;
  border: none;
  color: #8e2626;
  padding: 5px 6px;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 240px;
  transform: translateY(0);
}

.productItem:hover .iconAInner{
  color: #8e2626;
  border: 1px solid #8e2626;
  position: absolute;
  opacity: 1;
  top: 90px;
  left: 180px;
  transform: translateY(80%);
  transition: transform 0.3s ease;
}

.productItem:hover .iconBInner{
  color: #8e2626;
  border: 1px solid #8e2626;
  position: absolute;
  opacity: 1;
  top: 90px;
  left: 240px;
  transform: translateY(80%);
  transition: transform 0.5s ease;
}

.productItem:hover .iconAInner:hover{
  color: #e96d3f;
  background-color: #8e2626;
}

.productItem:hover .iconBInner:hover{
  color: #e96d3f;
  background-color: #8e2626;
}


