
.row{
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #f6f4f4;
}

.rowA{
  margin: 0 10px 0 30px;
  text-decoration: none;
  color: black;
}

.colA{
  margin-top: 5px;
}

.colB{
  margin-right: 10px;
}

.textBody{
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.fs20{
  font-size: 20px;
}

.ml5{
  margin-left: 5px;
}

.mr2{
  margin-right: 2px;
}





