@import './variables.scss';

.myloginform {
  background-color: $light;
  border: 2px solid $dark;
  border-radius: $border-radius-sm;
  
  h2 {
    border-bottom: 1px solid #dee2e6;
    padding-top: 6px;
    padding-bottom: 20px;
    color: $dark;
  }

  button {
    background: $primary;
    color: $light;

    &:hover {
      background: $dark;
      color: $light;
    }
  }
  .error{
    color: red;
    height: 10px;
    position: relative;
    margin-left: 5px;
    margin-top: 6px;
  }
}