// 檔案位置: styles/variables.scss
$primary: #e96d3f;
$secondary: #F5F5F5;
$light: #FFFFFF;
$dark: rgb(142, 38, 38);
$success: #7eb4e6;
$danger: #ff4136;
$body-bg: $secondary;
$body-color: #6C757D;
$headings-color: $dark;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-placeholder-color: #999999;
$border-radius: 0em;
$border-radius-sm: 0.2em;
$border-radius-lg: 0.2em;
$form-bg:#fcfcfc